.newProduct
  .newProduct__title Новые товары
  .container
    .row
      +card('image1.jpg','Lorem ipsum dolor sit amet','855 у.е.','col-lg-3  col-md-6 col-exs-6','image2.jpg')
      +card('image2.jpg','Lorem ipsum dolor sit amet','855 у.е.','col-lg-3  col-md-6 col-exs-6','image4.jpg')
      +card('image3.jpg','Lorem ipsum dolor sit amet','855 у.е.','col-lg-3  col-md-6 col-exs-6','image1.jpg')
      +card('image4.jpg','Lorem ipsum dolor sit amet','855 у.е.','col-lg-3  col-md-6 col-exs-6','image3.jpg')
    .splide.newProd
      .splide__track.newProd__track
        .splide__list.newProd__list
          .splide__slide.newProd__slide
            +card('image1.jpg','Lorem ipsum dolor sit amet','855 у.е.','col-lg-3  col-md-6 col-exs-12','image2.jpg')
          .splide__slide.newProd__slide
            +card('image1.jpg','Lorem ipsum dolor sit amet','855 у.е.','col-lg-3  col-md-6 col-exs-12','image2.jpg')
          .splide__slide.newProd__slide
            +card('image1.jpg','Lorem ipsum dolor sit amet','855 у.е.','col-lg-3  col-md-6 col-exs-12','image2.jpg')
          .splide__slide.newProd__slide
            +card('image1.jpg','Lorem ipsum dolor sit amet','855 у.е.','col-lg-3  col-md-6 col-exs-12','image2.jpg')
