.blog
  .blog__banner(style='background-image:url(assets/img/banner2.jpg)')
  .container
    .row
      .col-lg-6.col-exs-12
      .col-lg-6.col-exs-12
        .blog__item
          .blog__title Создай свой лук на все случаи жизни в “Imperia”
          .blog__p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam sollicitudin a cursus in. Vel sit donec semper magna dignissim. Amet, mi justo at metus vestibulum sollicitudin lacus. Nunc vel egestas fermentum pellentesque sed vitae vel.
          .blog__btn начать покупки