.products
  .container
    .row
      .col-lg-5.col-exs-12
        
        
          
        .splide.gallery
          .splide__track.gallery__track
            .splide__list.gallery__list
              .splide__slide.gallery__slide
                .gallery__img(style='background-image:url(assets/img/gallery.jpg)')
              .splide__slide.gallery__slide
                .gallery__img(style='background-image:url(assets/img/gallery.jpg)')
              .splide__slide.gallery__slide
                .gallery__img(style='background-image:url(assets/img/gallery.jpg)')
              .splide__slide.gallery__slide
                .gallery__img(style='background-image:url(assets/img/gallery.jpg)')
    
        .splide.thumb
          .splide__track.thumb__track
            .splide__list.thumb__list
              .splide__slide.thumb__slide
                .thumb__img(style='background-image:url(assets/img/thumb.jpg)')
              .splide__slide.thumb__slide
                .thumb__img(style='background-image:url(assets/img/thumb.jpg)')
              .splide__slide.thumb__slide
                .thumb__img(style='background-image:url(assets/img/thumb.jpg)')
              .splide__slide.thumb__slide
                .thumb__img(style='background-image:url(assets/img/thumb.jpg)')
      .col-lg-6.col-exs-12
        .products__title  Lorem ipsum dolor sit amet
        .products__evoluation 
          a(href="#").link: img(src="assets/img/star.png", alt="")
          a(href="#").link: img(src="assets/img/star.png", alt="")
          a(href="#").link: img(src="assets/img/star.png", alt="")
          a(href="#").link: img(src="assets/img/star.png", alt="")
          a(href="#").link: img(src="assets/img/star.png", alt="")
          .products__number 3,5
        .products__p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam faucibus porttitor rutrum at tellus sodales libero. Eleifend non velit, molestie in ut non. Faucibus diam nunc nunc gravida et viverra nulla. Et in consectetur eget pulvinar sodales porttitor. Commodo, volutpat eget risus placerat condimentum donec orci, est. Massa dictumst tortor bibendum imperdiet orci ut diam in. Hendrerit tristique at porttitor tortor aliquam. Nunc pharetra turpis gravida lobortis quisque suspendisse lacus, egestas non. Diam risus, sed ut sed.
        .products__items 
          .products__btn
            button.products__save Добавить в корзину
            button.products__cancel Быстрая покупка
          .products__price 855 у.е.
        .products__usefull
          .products__usefull__title Преимущества
          .products__usefull__item
            .products__usefull__box
              .products__usefull__img: img(src="assets/img/truck2.png", alt="") 
              .products__usefull__p Delivery in 7 days
            
            .products__usefull__box
              .products__usefull__img: img(src="assets/img/zashita.png", alt="") 
              .products__usefull__p Delivery in 7 days
            
            .products__usefull__box
              .products__usefull__img: img(src="assets/img/imedal.png", alt="") 
              .products__usefull__p Delivery in 7 days
            
            .products__usefull__box
              .products__usefull__img: img(src="assets/img/checked.png", alt="") 
              .products__usefull__p Delivery in 7 days
            