
.category
  .category__titles Категории
  .container
    .row.dn
      +product('product1.jpg','Женская обувь','col-lg-3  col-md-6')
      +product('product2.jpg','Женская обувь','col-lg-3  col-md-6')
      +product('product3.jpg','Женская обувь','col-lg-3  col-md-6')
      +product('product4.jpg','Женская обувь','col-lg-3  col-md-6')
    .splide.Category
      .splide__track.Category__track
        .splide__list.Category__list
          .splide__slide.Category__slide
            +product('product4.jpg','Женская обувь','col-lg-3  col-md-12')
          .splide__slide.newProdd__slide
            +product('product4.jpg','Женская обувь','col-lg-3  col-md-12')
          .splide__slide.Category__slide
            +product('product4.jpg','Женская обувь','col-lg-3  col-md-12')
          .splide__slide.Category__slide
            +product('product4.jpg','Женская обувь','col-lg-3  col-md-12')