.checkout
  .container
    .checkout__title Оформление заказа
    .row
      .col-lg-5.col-exs-12
        .checkout__item
          .checkout__products
            .checkout__product Товаров: (1)
            .checkout__price Сумма: $235
          .checkout__all
            .summa Общая сумма к оплате: 
            .all__summa $235
        .checkout__partners
          .partners
            input(type="radio" id='click' name="free")
            label(for="click"): img(src="../assets/img/click.png", alt="")
          .partners
            input(type="radio" id='paynet' name="free")
            label(for="paynet"): img(src="../assets/img/payme.png", alt="")
          .partners
            input(type="radio" id='uzcard' name="free")
            label(for="uzcard"): img(src="../assets/img/uzcard.png", alt="")
          .partners
            input(type="radio" id='money' name="free")
            label(for="money" id='grey'): img(src="../assets/img/free.png", alt="")
      .col-lg-6.col-exs-12
        .form
          input(type="text" placeholder='Адресс доставки')
          input(type="text" placeholder='Имя')
          input(type="text" placeholder='Номер телефона')
        button.form__btn Перейти к оплате