footer.footer
  .container
    .footer__aboutCompany 
      .footer__aboutCompany__title про imperia
      .footer__aboutCompany__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget pretium aenean dignissim sit cursus dictumst adipiscing nunc.

      a(href="index.html").footer__logo: img(src="assets/img/logo.png", alt="")
    .footer__items__title High fidelity wireframes include more real content, specific typography choices, and information on image.
    .foot
      .footer__items
      
        .footer__links
          a(href="#") Catalog
          a(href="#") Popular
          a(href="#") Pricing
          a(href="#") Features
        .footer__links
          a(href="#") About
          a(href="#") Blog
          a(href="#") Contacts
    .footer__item 

      +menus('footer__contact','footer__li','контакты','+998 90 958 78 87','support@fonon.uz')
      +menus('footer__time','footer__li','рабочее время','По будням 9:00 to 18:00','В выходные 11:00 to 18:00')
    +menus('footer__menu','footer__li','Меню','Главная','О нас','Категории','Сотрудничество')
    +menus('footer__menu','footer__li','категории','Женская одежда','Мужская одежда','Детская одежда','Обувь','Сумки','Аксесуары')
.footer__adress
  .footer__location 
    img(src="assets/img/shape.png", alt="")
    .footer__location__p Los Angeles,359  Hidden Valley Road
  .footer__massage
    img(src="assets/img/messa.png", alt="")
    .footer__massage__p  Hellohero@gmail.com
