header.header
  .header__top
      .header__container.container
        .header__language 
          a(href="#").link RU
          a(href="#").link UZ
  .header__bottom
      .header__container.container
        .header__items
          button.buttons
            span
          .header__logos: a(href="index.html").link: img(src="assets/img/imper.png", alt="")
        .header__logo: a(href="index.html").link: img(src="assets/img/headerLogo.png", alt="")
        
        +menus('header__menu','header__li','Главная','О нас','Категории ','Сотрудничество')
        .button
          button.singIn Войти
          button.registration Зарегестрироваться
        .header__icon
          a(href="#").header__corzinka: img(src="assets/img/korzinka.png", alt="")
          a(href="#").header__account: img(src="assets/img/account.png", alt="")
        .header__searchs
          a(href="#").header__search: img(src="assets/img/search.png", alt="")