.myapplication
  .container
    img(src="assets/img/iPhone12.png", alt="").myapplication__img
    .myapplication__item
      .myapplication__title Скачай приложение и получа прзы аждый день
      .myapplication__p Скачав наш приложение вы получаете возможность играть в призовые игры каждый день и выигровать разного рода подарки для себя.В нашем приложении призовые игры проходят аблолютно каждый день и всё это совершенно бесплатно.
      .myapplication__button
        a(href="#").myapplication__appstore: img(src="assets/img/appstore.png", alt="")
        a(href="#").myapplication__googlePlay: img(src="assets/img/googlePlay.png", alt="")
