.newProduct
  .newProduct__title Лучшие товары
  .container
    .row
      +card('image1.jpg','Lorem ipsum dolor sit amet','855 у.е.','col-lg-3 col-md-6 col-exs-6','image2.jpg')
      +card('image2.jpg','Lorem ipsum dolor sit amet','855 у.е.','col-lg-3 col-md-6 col-exs-6','image4.jpg')
      +card('image3.jpg','Lorem ipsum dolor sit amet','855 у.е.','col-lg-3 col-md-6 col-exs-6','image1.jpg')
      +card('image4.jpg','Lorem ipsum dolor sit amet','855 у.е.','col-lg-3 col-md-6 col-exs-6','image3.jpg')
    .splide.newProdd
      .splide__track.newProdd__track
        .splide__list.newProdd__list
          .splide__slide.newProdd__slide
            +card('image1.jpg','Lorem ipsum dolor sit amet','855 у.е.','col-lg-3  col-md-6 col-exs-12','image2.jpg')
          .splide__slide.newProdd__slide
            +card('image1.jpg','Lorem ipsum dolor sit amet','855 у.е.','col-lg-3  col-md-6 col-exs-12','image2.jpg')
          .splide__slide.newProdd__slide
            +card('image1.jpg','Lorem ipsum dolor sit amet','855 у.е.','col-lg-3  col-md-6 col-exs-12','image2.jpg')
          .splide__slide.newProdd__slide
            +card('image1.jpg','Lorem ipsum dolor sit amet','855 у.е.','col-lg-3  col-md-6 col-exs-12','image2.jpg')