.checkout
  .pay__title Оплата
  .container
    .row
      .col-lg-5.pt
        img(src="../assets/img/pay.png", alt="")
      .col-lg-2
      .col-lg-5.col-exs-12
          .form.mt
            input(type="text" placeholder='Адресс доставки')
            input(type="text" placeholder='Имя')
            input(type="text" placeholder='Номер телефона')
          button.form__btn Перейти к оплате