.products.pro
  .container
    .products__filters
      .col-exs-6
        select(name="Сортировка" class='sartirovka')
          option(value="") Сортировка
          option(value="")
          option(value="")
          option(value="")
      .col-exs-6
        button.filters Фильтры
          img(src="assets/img/filtr.png", alt="")
    .row 
      .col-lg-3
        
        include filter.pug
      .col-lg-9.col-exs-12
        .row
          +card('image1.jpg','Lorem ipsum dolor sit amet','855 у.е.','col-lg-4  col-md-6 col-exs-6','image2.jpg')
          +card('image2.jpg','Lorem ipsum dolor sit amet','855 у.е.','col-lg-4  col-md-6 col-exs-6','image4.jpg')
          +card('image3.jpg','Lorem ipsum dolor sit amet','855 у.е.','col-lg-4 col-md-6 col-exs-6','image1.jpg')
          +card('image4.jpg','Lorem ipsum dolor sit amet','855 у.е.','col-lg-4  col-md-6 col-exs-6','image3.jpg')
      
          +card('image1.jpg','Lorem ipsum dolor sit amet','855 у.е.','col-lg-4  col-md-6 col-exs-6','image2.jpg')
          +card('image2.jpg','Lorem ipsum dolor sit amet','855 у.е.','col-lg-4  col-md-6 col-exs-6','image4.jpg')
          +card('image3.jpg','Lorem ipsum dolor sit amet','855 у.е.','col-lg-4 col-md-6 col-exs-6','image1.jpg')
          +card('image4.jpg','Lorem ipsum dolor sit amet','855 у.е.','col-lg-4  col-md-6 col-exs-6','image3.jpg')
      
          +card('image1.jpg','Lorem ipsum dolor sit amet','855 у.е.','col-lg-4  col-md-6 col-exs-6','image2.jpg')
          +card('image2.jpg','Lorem ipsum dolor sit amet','855 у.е.','col-lg-4  col-md-6 col-exs-6','image4.jpg')
          +card('image3.jpg','Lorem ipsum dolor sit amet','855 у.е.','col-lg-4 col-md-6 col-exs-6','image1.jpg')
          +card('image4.jpg','Lorem ipsum dolor sit amet','855 у.е.','col-lg-4  col-md-6 col-exs-6','image3.jpg')
      