- var home = true

- var title = "This is title"
mixin menus(ul_class, link_class, ...links)
  ul(class=ul_class)
    each link in links
      li(class=link_class) 
        a(href="#" ).link= link
mixin card(img,ptitle,price,col,img2='')
  .col(class=col)
    .product__item
      .product__img(style='background-image:url(assets/img/'+img+')', data-img='assets/img/'+img2)
      .card__text
        a(href="#").title #{ptitle}
        p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit sed odio sed nascetur.
        .product__row
          .product__rate
            img(src="assets/img/star.png", alt="")
            img(src="assets/img/star.png", alt="")
            img(src="assets/img/star.png", alt="")
            img(src="assets/img/star.png", alt="")
            img(src="assets/img/star.png", alt="")
            span.rate 3,5
          .product__price #{price}
        button.btn Добавить в корзину
mixin product(img,ntitle,col)
  .col(class=col)
    .category__item
      .category__img(style='background-image:url(assets/img/'+img+')')
      a(href="#").category__title #{ntitle}
mixin cards()
  .col-lg-12 
      
    .cards__img: img(src="../assets/img/cards.jpg", alt="")
    .cards__item 
      button.cards__btn
        img(src="assets/img/musor.png", alt="")
        span
      .cards__title Худи мужская белая с принтом.
      .cards__stars
        img(src="../assets/img/star.png", alt="").star
        img(src="../assets/img/star.png", alt="").star
        img(src="../assets/img/star.png", alt="").star
        img(src="../assets/img/star.png", alt="").star
        img(src="../assets/img/star.png", alt="").star
        .cards__stars__price 3,5
      .cards__p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget tellus purus, id pretium viverra rutrum. Et blandit nunc a pellentesque in cras facilisis sapien, dictum. At vel egestas urna morbi tortor leo ut. In curabitur at pretium vulputate in. Porta bibendum feugiat congue id rhoncus. Vel semper enim, eget vitae at amet dui. Sed ut sapien gravida a amet tellus.
      .cards__box
        .cards__prise 25.000 Сум
        .cards__size Size:<span>28</span>
      .cards__counter
        button.add +
        .counter 1
        button.move -

  