.splide.slider
  .splide__track.slider__track
    .splide__list.slider__list
      .splide__slide.slider__slide
        .slider__img(style='background-image:url(assets/img/banner.png)')
          .container
            .slider__item
              .slider__title Быстрый и удобный шоппинг, не выходя из дома.
              .slider__p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Convallis lectus odio vitae, duis nec ut velit, fermentum. Diam sollicitudin arcu euismod morbi. Adipiscing bibendum elementum, fermentum amet quis erat.
              a(href="#").slider__link Все товары