block settings
  include _setting.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="assets/css/style.css")
    title Document
  body
    include _header.pug
    include registration.pug
    block content
    include _footer.pug
    script(src="assets/js/splide.min.js")
    script(src="assets/js/app.js")
    block script 
  
