.usefull
  .usefull__title Наши преимущества
  .usefull__container
    .container
      .row
        .splide.usefull
          .splide__track.usefull__track
            .splide__list.usefull__list
              .splide__slide.usefull__slide
                
                .usefull__item 
                  .usefull__img: img(src="assets/img/stars.png", alt="")
                  .usefull__p Лучший сервис
              .splide__slide.usefull__slide
              
                .usefull__item 
                  .usefull__img: img(src="assets/img/truck.png", alt="")
                  .usefull__p Экспресс доставка 
              .splide__slide.usefull__slide
              
                .usefull__item.usefull__slide 
                  .usefull__img: img(src="assets/img/like.png", alt="")
                  .usefull__p Лучшее качество в стране