.about
  .container
    .about__title О нас
    .row
      .col-lg-6.col-md-6.col-exs-12
        .about__text «Потрясающий опыт, мне это нравитсямного. Спасибо команде, что мечты сбываются, здорово! Я весьма признателен"
        .about__p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat leo, in sit tellus fermentum donec quisque diam molestie. Enim purus ullamcorper ultricies nisi. Eu sit laoreet egestas nascetur lacinia donec nunc viverra. Eu nullam cras eget egestas dui id platea magna. Massa lorem ultrices mauris tellus, mattis eu leo bibendum lobortis. Accumsan convallis felis eu tristique a elementum gravida. Purus diam diam mattis sed turpis lectus turpis. Justo, turpis etiam nec, tempus tristique diam in auctor augue. Id velit bibendum.
      .col-lg-5.col-md-6.col-exs-12
        .about__banner(style='background-image:url(assets/img/aboutUs.jpg)')