.category
  .category__titles Категории
  .container
    .row
      +product('product5.jpg','Women’s wear','col-lg-3  col-md-6')
      +product('product6.jpg','Men’s wear ','col-lg-3  col-md-6')
      +product('product7.jpg','Kid’s wear','col-lg-3  col-md-6')
      +product('product8.jpg','Shoes','col-lg-3  col-md-6')
      +product('product9.jpg','Сумки','col-lg-3  col-md-6')
      +product('product10.jpg','Accessories','col-lg-3  col-md-6')
      +product('product11.jpg','Underwear','col-lg-3  col-md-6')
      +product('product12.jpg','Decorations','col-lg-3  col-md-6')
      +product('product13.jpg','Home textiles','col-lg-3  col-md-6')
      +product('product14.jpg','Wholesale','col-lg-3  col-md-6')
