.filter
  
  .filter__title FILTER
  .filter__category 
    .filter__category__title.filter__btitle Category
      
      img(src="../assets/img/down.png", alt="").img.down
    .filter__body
      input(type="checkbox" id="women")
      label(for="women") Women’s wear
      input(type="checkbox" id="men")
      label(for="men") Men’s wear
      input(type="checkbox" id="kids")
      label(for="kids") Kid’s wear
      input(type="checkbox" id="shoes")
      label(for="shoes") Shoes
      input(type="checkbox" id="bag")
      label(for="bag") Сумки
      input(type="checkbox" id="Accessories")
      label(for="Accessories") Accessories
      input(type="checkbox" id="Underwear")
      label(for="Underwears") Underwear
      input(type="checkbox" id="Decorations")
      label(for="Decorations") Decorations
      input(type="checkbox" id="Home textiles")
      label(for="Home textiles") Home textiles
      input(type="checkbox" id="Wholesale")
      label(for="Wholesale") Wholesale
  .filter__gender
    .filter__gender__title.filter__btitle Gender
      
      img(src="../assets/img/down.png", alt="").img.down
    
    .gender__body
      input(type="checkbox" id='man')
      label(for="man") For men
      input(type="checkbox" id='woman')
      label(for="woman") For women
  .filter__price
    .filter__price__title.filter__btitle Price
      img(src="../assets/img/down.png", alt="").img.down
    
    .price__body 
      input(type='range' id='range')
      .price__box
        .filter__ot От
        .filter__do До
      .price__item
          input(type="text" id='ot')
          input(type="text" id='do')
        
  .filter__color 
    .filter__color__title.filter__btitle Color
    .color__item
      input(type="radio" id='grey')
      label(for="grey" id='grey')
      input(type="radio" id='orange')
      label(for="orange" id='orange')
      input(type="radio" id='blue')
      label(for="blue" id='blue')
      input(type="radio" id='purple')
      label(for="purple" id='purple')
      input(type="radio" id='red')
      label(for="red"  id='red')
  button.filter__btn Clean filter