.map
  .map__img
  .container
    .col-lg-6.col-exs-12
    .col-lg-5.col-exs-12
      .map__title Работаем по всему миру.
      .map__item
        .map__box
          .map__item__title Bali
          a(href="#").link 508 Bridle Avenue Newnan, GA 30263
       
        .map__box
          .map__item__title London
          a(href="#").link 508 Bridle Avenue Newnan, GA 30263
       
        .map__box
          .map__item__title Moscow
          a(href="#").link 508 Bridle Avenue Newnan, GA 30263
       
        .map__box
          .map__item__title Prague
          a(href="#").link 508 Bridle Avenue Newnan, GA 30263
       
