.registrations.mt
  .mcontainer
    .leave
      .span
    .registrations__item
      .registrations__title Зарегистрироваться
      
    form(action="").registrations__form
      input(type="text" placeholder="Имя"  name='name')
      input(type="text" placeholder="Email" name='email')
      input(type="parol" placeholder="Парооль" name='parol')
      input(type="parol" placeholder="Повторите пароль" name='parol' )
      .chek
      input(type="checkbox" id='check' class='checked')
      label(for="check") I agree to the Wireframe terms
    button.registrations__btn Sign up
