extends ../blocks/_temp.pug
block content
  include ../blocks/_slider.pug
  include ../blocks/_usefull.pug
  include ../blocks/_bestProduct.pug
  include ../blocks/_category.pug
  include ../blocks/_myapplication.pug
  include ../blocks/_newProduct.pug
  include ../blocks/_blog.pug
  include ../blocks/_sale.pug
  