extends ../blocks/_temp.pug
block content
  include ../blocks/_categoryProduct.pug
  
  include ../blocks/_newProduct.pug
  include ../blocks/_category.pug
  
 

block script
  script 
    | var thumbnailsSplide =  new Splide( '.gallery', { rewind:true,  focus: 'center', isNavigation: true, pagination : false, arrows:false, 	cover:true, }).mount() 
    | var primarySplide = new Splide( '.thumb', { type:'loop',perPage:4, pagination : false, focus: 'center', cover: true, }); 
    | primarySplide.sync( thumbnailsSplide ).mount();







