@import 'var';


.about{
  &__title{
    text-align: center;
    font-size: 34px;
    line-height: 140%;
    font-family: 'mons-b';
    margin-top: 64px;
    margin-bottom: 25px;
  }
  &__text{
    font-size: 24px;
    line-height: 140%;
    color: #000;
    font-family: 'mons-b';
    margin-bottom: 16px;
    margin-top: 62px;

  }
  &__p{
    font-size: 14px;
    line-height: 140%;
    color: #000;
    margin-bottom: 72px;
    
  }
  &__banner{
    height: 411px;
    @include bg();
    width: 100%;
  }
}