@import 'var';
.blog{
  background-color: #fff;
  position: relative;
  margin-top: 64px;
  &__banner{
    width: 50%;
    height: 100%;
    @include bg();
    position: absolute;
    left: 0;
    top: 0;
  }
  &__item{
    padding: 101px 0;
  }
  &__title{
    font-size: 34px;
    line-height: 140%;
    letter-spacing: 0.25px;
    color: #000000;
    font-family: 'mons-b';
  }
  &__p{
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.44px;
    color: #000000;
    margin-top: 24px;
    font-style: normal;
    font-weight: normal;
  }
  &__btn{
    cursor: pointer;
    width: 197px;
    color: #000;
    border-radius: 6px;
    text-align: center;
    padding: 8px 23px;
    background-color: #FFC000;
    font-size: 14px;
    line-height: 140%; 
    letter-spacing: 0.75px;
    margin-top: 32px; 
    font-family: 'mons-b';
    &:hover{
      background-color: lighten(#FFC000,10%);
    }
  }
}