@import 'var';
  .cards{
    margin-top: 58px;
    &__btn{
      background: none;
      position: absolute;
      width: 24px;
      height: 24px;
      right: 24px;
      top: 24px;
      display: block;
      span{
        width: 80%;
        height: 2px;
        background-color: #000000;
        display: block;
        margin: auto;
        transform: rotate(50deg);
        position: relative;
        &::before{
          content: '';
          display: block;
          position: absolute;
          top: 0;
          width: 100%;
          height: 2px;
          transform: rotate(80deg);
          background-color: #000000;
        }
      }
    }
    .col-lg-12{
      padding: 0;
      background-color: #fff;
      border-radius: 6px;
      margin-top: 24px;
      display: flex;
      position: relative;
    }
    &__img{
    
      flex-basis: 25%;
      overflow: hidden;
      border-radius: 6px;
      img{
        width: 100%;
        height: 100%;
        border-radius: 6px;
      }
    }
    &__item{
      position: relative;
      flex-basis: 75%;
      padding-left: 30px;
      padding-bottom: 27px;
      padding-right: 97px;
    }
    &__title{
      margin-top: 28px;
      font-size: 24px;
      line-height: 140%;
      font-family: 'mons-b';
      font-weight: bold;
    }
    &__stars{
      margin-top: 43px;
      margin-bottom: 8px;
      img{
        width: 12px;
        height: 12px;
        margin-left: 3px;
      }
      display: flex;
      &__price{
        font-size: 14px;
        line-height: 140%;
        margin-left: 6px;
        
      }
    }
    &__p{
      font-size: 14px;
      line-height: 140%;
      width: 95%;
      margin-bottom: 29px;
    }
    &__box{
      display: flex;
    }
    &__price{
      font-size: 16px;
      line-height: 140%;
      color: #0D0D0D;
    }
    &__size{
      margin-left: 40px;
      font-size: 16px;
      line-height: 140%;
      color: #000000;
      span{
        font-size: 16px;
        line-height: 140%;
        color: #000000;
        font-family: 'mons-b';
        font-weight: bold;
        margin-left: 15px;
      }
    }
    &__counter{
      display: flex;
      position: absolute;
      right: 53px;
      top: 70%;
    }
    .counter{
      width: 93px;
      height: 37px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .add,
    .move{
      width: 37px;
      height: 37px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #FFC000;
      color: #fff;
    }
  }