.product__item{
  box-shadow: 0px 0px 98px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  overflow: hidden;
}
.card__text{
  background: #FFFFFF;
  padding-left: 13px;
  padding-right: 6px;
}
.product__img{
  text-align: left;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  display: block;
  width: 100%;
  height: 337px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title{
  text-align: left;
  font-size: 14px;
  line-height: 140%;
  color: #000;
  font-family: 'mons-b';
  letter-spacing: 0.75px;
  text-transform: uppercase;
  margin-top: 7px;
  margin-bottom: 8px;
  display: inline-block;
}
.text{
  text-align: left;
  font-size: 12px;
  line-height: 140%;
  color: #000;
  letter-spacing: 0.4px;
  margin-bottom: 4px;
}
.rate{
  font-size: 14px;
  line-height: 140%;
  font-family: 'mons-b';
  margin-left: 7px;
  margin-top: 4px;
  margin-bottom: 8px;
}
.product__row{
  @include df();
}
.product__price{
  font-size: 14px;
  line-height: 140%;
  font-family: 'mons-b';
}
.btn{
  width: 100%;
  border-radius: 6px;
  background-color: #FFC000;
  padding: 8px 24px;
  margin-bottom: 8px;
  font-family: 'mons-b';
  &:hover{
    background-color:lighten(#FFC000,10%);
  }
}