@import 'var';

.category{
  &__titles{
    padding-top: 64px;
    text-align: center;
    font-size: 34px;
    line-height: 140%;
    font-family: 'mons-b';
    margin-bottom: 38px;
  }
  &__item{
    height: 352px;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    &:hover{
      
      transition: all ease 0.5s;
      .category__title{
        
        bottom: 0;
        transition: all ease 0.5s;
      }
      .category__img{
        transform: translateY(-77px);
      }
    }
  }
  &__img{
    position: relative;
   height: 100%;
   @include bg();
   transition: all ease 0.5s;
   
  }
  &__title{
    padding: 22px 0;
    position: absolute;
    bottom: -77px;
    text-align: center;
    background-color: #000000;
    width: 100%;
    font-size: 24px;
    line-height: 140%;
    color: #FDE72F;
    font-family: 'mons-b';
    
    transition: all 0.5s;
  }
  .Category{
    display: none;
  }
}