.checkout{
  &__title{
    margin-top: 64px;
    font-size: 34px;
    line-height: 140%;
    font-weight: bold;
    font-family: 'mons-b';
    text-align: center;
  }
  label{
    position: relative;
    
    &::before{
      content: '';
      display: block;
      top: -20px;
      left: -30px;
      width: 12px;
      height: 12px;
      position: absolute;
      background-color: #ffffff;
      border-radius: 50%;
     
    }
    &::after{
      content: '';
      display: block;
      position: absolute;
      width: 18px;
      height: 18px;
      top: -25px;
      left: -35px;
      border-radius: 50%;
      border: 2px solid #ffffff;
    }
  }
  input[type=radio]{
    display: none;
  }
  input[type=radio]:checked + label{
    &::before{
      content: '';
      display: block;
      display: none;
    }
    &::after{
      content: '';
      width: 16px;
      height: 16px;
      top: -28px;
      left: -38px;
      display: block;
      position: absolute;
      border: 6px solid #FFC000;
    }
  }
  &__item{
    padding: 16px;
    background-color: #FFC000;
    margin-top: 80px;
    
  }
  &__all,
  &__products{
    display: flex;
    justify-content: space-between;
  }
  &__all{
    margin-top: 25px;

  }
  &__partners{
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;
  }
  .partners{
    margin-top: 40px;
    max-width: 50%;
    flex-basis: 50%;

  }
  .col-lg-6{
    margin-left: 50px;
  }
  .form{
    margin-top: 55px;
    input{
      width: 100%;
      height: 59px;
      margin-top: 24px;
      border: none;
    padding-left: 16px;
      &::placeholder {
        font-family: 'mons-r';
      }
    }
 
  &__btn{
    width: 100%;
    height: 59px;
    margin-top: 24px;
    background-color: #FFC000;
  }  
    
  }
  
  input:focus{
      outline: none;
  }
}