@import 'var';
.filter{
  margin-top: 15px;
  background-color: #fff;
  padding-top: 16px;
  padding-bottom: 24px;
  input{
    display: none;
  }
  &__title{
    margin-left: 14px;
    margin-bottom: 13px;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #000000;
    font-family: 'mons-b';
  }
  
  &__price,
  &__gender,
  &__category{
    &__title,
    &__title{
      height: 52px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #F9F4E8;
      padding: 0px 20px;
      .img{
        width: 8px;
        height: 8px;
      }
    }
  }
  .price__body {
    padding: 0px 14px;
    
    #range{
      display: block;
    }
  }
  .price__box{
    margin-top: 32px;
    display: flex;
    
    
  }
  .price__item{
  
    display: flex;
    justify-content: space-between;
  }
  #do,
  #ot{
    display: block;
    width: 110px;
    height: 22px;
    background: #F1F1F1;
    margin-bottom: 23px;
    border: none;
    border-radius: 6px;
  }
  &__ot,
  &__do{
    margin-bottom: 4px;
    font-size: 10px;
    line-height: 140%;
    font-weight: bold;
    font-family: 'mons-b';
  }
  &__do{
    margin-left: 145px;
  }
  input[type=checkbox]+label{
    &::before{
      content: '';
      display: block;
      position: absolute;
      right: 8px;
      width: 16px;
      height: 16px;
      border: 1px solid #000000;
    }
    padding-left: 25px;
    height: 32px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;

    font-size: 14px;
    line-height: 140%;
    position: relative;
    
  }
  input[type=checkbox]:checked + label{
    &:before{
      content: '';
      display: block;
      position: absolute;
      right: 8;
      width: 16px;
      height: 16px;
      background-image: url(../img/Checkboxs.png);
    }
  }
  &__color__title{
    text-align: left;
  }
  &__body{
    overflow: hidden;
    height: 0;
    transition: all ease 0.5s;
    &.height {
      height: auto;
    }
  }
  
  input[type=range]{
    margin-top: 25px;
  }
  &__body.height .img{
    transform: rotate(180deg);
  }
  
  .gender__body{
    overflow: hidden;
    height: 0;
    transition: all ease 0.5s;
    &.height{
      height: auto;
    }
  
    
  }
  .price__body{
    overflow: hidden;
    height: 0;
    transition: all ease 0.5s;
    &.height{
      height: auto;
    }
  
    
  }
  .color__item{
    display: flex;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 20px;
 }
 &__color{
   padding-bottom: 28px;
   padding-top: 16px;
 }
  #orange,
  #purple,
  #blue,
  #red,
  #grey{
    width: 16px;
    height: 16px;
    background: #EFEFF5;
    border-radius: 50%;
    margin-left: 24px;
    
  }
  #grey{
    background-color: #EFEFF5;
  }
  #orange{
    background: #F9E3B6;
  }
  #blue{
    background: #227887;
  }
  #purple{
    background: #B789C7;
  }
  #red{
    background: #BF1E24;
  }
  input[type=radio] + label{
    position: relative;
  }
  input[type=radio]:checked + label{
    &:before{
      content: '';
      display: block;
      position: absolute;
      right: 0;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      border: 2px solid ;
      top: -5px;
      right: -5px;
      
    }
    &#orange:before {
      border-color: #F9E3B6;
    }
    &#grey:before {
      border-color:  #EFEFF5;
    }
    &#blue:before {
      border-color:  #227887;
    }
    &#purple:before {
      border-color:  #B789C7;
    }
    &#red:before {
      border-color: #BF1E24;
    }
  }
  &__btn{
    display: block;
    width: 232px;
    margin: auto;
    padding: 12px 0;
    background: #FFC000;
    color: #000000;
    font-size: 14px;
    line-height: 18px;
  }
  &__color__title{
    margin-bottom: 20px;
    margin-left: 20px;
  }
}
