@import 'var';

.footer{
  margin-top: 80px;
  background-color: #fff;
  padding-top: 46px;
  padding-bottom: 42px;
  .container{
    @include df();
    align-items: baseline;
  }
  &__time{
    margin-top: 30px;
  }
  &__logo{
    margin-top: 23px;
    display: inline-block;
  }
  &__aboutCompany{
    width: 265px;
    
    &__title{
      margin-bottom: 16px;
      font-size: 14px;
      line-height: 140%;
      color: #000000;
      font-family: 'mons-b';
    }
  }
  .link{
    padding-top: 12px;
    color: #000000;
    display: inline-block;
  }
  &__li:first-child {
      margin-bottom: 16px;
      font-size: 14px;
      line-height: 140%;
      color: #000000;
      font-family: 'mons-b';
  }

  &__items{
    padding-bottom: 32px;
    &__title{
      font-size: 16px;
      line-height: 24px;
      text-align: left;
      width: 353px;
      display: none;
    }
    margin-top: 32px;
    width: 100%;
    display: flex;
  
  }
  &__links{
    flex-basis: 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    
    a{
      font-size: 20px;
      line-height: 34px;
      color: #000000;
      font-family: 'mons-b';
      padding-top: 12px;
      
    }
  }
  &__adress{
    display: none;
    text-align: center;
    border-top: 1px solid  #DBDEE7;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #fff;
  }
  &__location,
  &__massage{
    display: flex;
    align-items: center;
    max-width: 80%;
    margin: auto;
    margin-top: 17px;
    font-size: 16px;
    line-height: 24px;
  }
  &__location__p,
  &__massage__p{
    margin-left: 20px;
  }
}