@import 'var';
 


.products{
  .col-lg-5{
    margin-right: 50px;
  }
  &__usefull{
    &__box{
      max-width: 40%;
      flex-basis: 40%;
      display: flex;
      margin-top: 16px;
    }
    &__img{
      margin-right: 16px;
    }
    &__item{
      margin-top: 24px;
      display: flex;
      flex-wrap: wrap;
      max-width: 500px;
    }
    &__p{
      font-size: 11px;
      line-height: 16px
    }
    &__title{
      font-size: 24px;
      line-height: 140%;
      font-family: 'mons-b';
      margin-top: 32px;
    }
  }

  &__price{
    margin-top: 16px;
    font-size: 24px;
    line-height: 140%;
    font-family: 'mons-b';
    font-weight: bold;
  }
  &__items{
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
  }
  margin-top: 64px;
  &__title{
    font-size: 34px;
    line-height: 140%;
    color: #000000;
    font-family: 'mons-b';
    .container .col-lg-6{
      display: flex;
      flex-direction: column;
    }
   
  }
  &__evoluation{
    display: flex;
    .link{
      padding: 0px 2px;

    }
  }
  &__number{
    font-size: 14px;
    line-height: 140%;
    color: #000;
    font-family: 'mons-m';
    font-weight: bold;
    margin-left: 6px;
  }
  &__p{
    text-align: left;
    font-size: 16px;
    line-height: 140%;
    color: #000;
    margin-top: 16px;
  }
  &__btn{
    display: flex;
    flex-direction: column;
    width: 362px;
  }
  &__cancel,
  &__save{
    padding: 10px 0;
    margin-top: 16px;
    font-size: 14px;
    line-height: 140%;
    color: #000000;
    font-family: 'mons-sm'
  }
  &__save{
    background: #FFC000;
  }
}
.gallery__img{
  @include bg();
  height: 458px;
  width: 100%
  }
.thumb__img{
  margin-top: 24px;
  height: 104px;
  width: 104px;
}
