.header{
  &__container{
    @include df();
  }

  &__top{
    padding: 13px 0;
    background-color: #000000;

    .link{
      font-family: 'mons-b';
      padding: 0px 2.5px;
      font-size: 10px;
      line-height: 140%;
      color: rgba(255, 255, 255, 0.3);
      transition: all 0.5s;
      &:hover{
        color: #ffffff;
      }

    }
  }
  &__menu{
    display: flex;
    .link{
      padding: 0px 12px;
      color: #000000;
      line-height: 44px;
      transition: all 0.5s;
      &:hover{
        color:#FDE72F;
      }
    }
  }
  &__bottom{
    transition: all ease 0.5s;

    .buttons{
      width: 60px;
      background-color: unset;
      height: 40px;
      display: none;
      transition: all ease 0.5s;

    }
    span{
      margin: auto;
      width: 60%;
      height: 2px;
      background-color: #000000;
      position: relative;
      display: block;
      transition: all ease 0.5s;

      &::before,
      &::after{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #000000;
      transition: all ease 0.5s;

      }
      &::before{
        top: -8px;
      }
      &::after{
        bottom: -8px;
      }
    }
    padding: 16px 0;
    background-color: #FAFAFA;
  }
  .button{
    display: flex;
    align-items: center;
    .singIn{
      width: 70px;
      height: 30px;
      padding: 4px 8px;
      box-shadow: 0px 8px 22px -6px rgba(24, 39, 75, 0.12), 0px 14px 64px -4px rgba(24, 39, 75, 0.12);
      background-color: #FAFAFA;
      border-radius: 4px;
    }
    .registration{
      margin-left: 15px;
      width: 195px;
      height: 30px;
      padding: 4px 8px;
      background: #FDE72F;
      border-radius: 4px;
    }
  }
  &__corzinka,
  &__acconunt{
    padding: 0px 8px;
    transition: all ease 0.5s;

  }
  &__search{
    display: none;
  }
  &__logos{
    display: none;
  }
}