@import 'var';


.map{
  position: relative;
  margin-top: 154px;
  margin-bottom: 64px;
  position: relative;
  left: 0;
  bottom: 64px;
  // height: 623px;
  .map__img{
    position: absolute;
    background-color: khaki;
    height: 623px;
    width: 50%;
    @include bg();
  }
  &__title{
    text-align: left;
    font-family: 'mons-b';
    font-size: 43px;
    line-height: 64px;
    color: #000;
    margin-bottom: 65px;
    font-weight: 900;
  }
  &__item{
    flex-wrap: wrap;
    display: flex;
    &__title{
      font-size: 18px;
      line-height: 32px;
      font-family: 'mons-b';
      color: #000;
      margin-bottom: 8px;
    }
    .link{
      font-size: 18px;
      line-height: 32px;
      color: #000;
      

    }
  }
  &__box{
    width: 166px;
    flex-basis: 50%;
    margin-top: 36px;
  }
  .col-lg-5.col-exs-12{
    margin-left: auto;
  }
}