@media(max-width:1024px){
  .container{
    max-width: 100%;
    padding: 0px 10px;
  }
  .myapplication__item {
    margin-left: 0;
  }
}
@media(max-width:768px){
  $i:1;
  @while $i<=12 {
    .col-md-#{$i}{
      flex-basis: percentage($i/12);
      max-width: percentage($i/12);
      padding: 10px;
    }
    $i: $i+1;
  }
  .about__text{
    margin-top: 0;
  }
  .myapplication{
    margin-top: 150px;
  }
  .about__p{
    margin-bottom: 0;
  }
  .map__title{
    font-size: 30px;
    line-height: 53px;
    margin-bottom: 0;
  
  }
  .map__item .link{
    font-size: 13px;
    line-height: 29px;
  }
  .map .map__img {
    height: 450px;
  }
  .blog__item {
    padding: 20px 0;
  }
  .myapplication__item {
    width: 100%;
    text-align: center;
  }
  .myapplication__img{
    left: 20%;
  }
  .footer__item{
    display: none;
  }
  .header{
    &__li:first-child{
      display: none;
    }
    .button{
      display: none;
    }
  }
  .filter{
    .filter__btn{
      width: 150px;
    }
  }
  .filter{
    .color__item{
      #orange,
      #purple,
      #blue,
      #red,
      #grey{
      
        margin-left: 15px;
        
    }
    }
    
  }
  .cards__counter{
    top: 83%;
  }

}
@media(max-width:500px){
  $i:1;
@while $i<=12 {
  .col-exs-#{$i}{
    flex-basis: percentage($i/12);
    max-width: percentage($i/12);
    padding: 10px;
    }
    $i: $i+1;
  }
  .sale {
    margin-top: 28px;
    height: 339px;
    text-align: center;
  }
  .sale__title {
    font-size: 26px;
  }
  .footer {
    margin-top: 38px;
    &__menu{
      float: 50%;
    }
    &__item{
      float: 100%;
      display: flex;
      align-items: baseline;
    }
    .container{

      text-align: center;
      display: flex;
      justify-content: center;

    }
  }
  .blog__title {
    font-size: 26px;
    line-height: 130%;
  }
  .row{
    margin-left: -7px;
    margin-right: -7px;
  }
  .myapplication__img {
    left: 13%;
  }
  .slider__title,
  .myapplication__title {
    font-size: 26px;
    line-height: 130%;
  }
  .newProduct,
  .category__titles {
    padding-top: 38px;
  }
  .usefull{
    margin-top: 38px;
  }
  .slider__item{
    width: 455px;
  }
  .header__menu.show{
    top: 0;
  }
  .header__menu{
    position: fixed;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
    top: -1000px;
    left: 0;
    transition: all ease 0.5s;
    .link{
      color: #ffffff;
    }
  }
  
  .header__container{
    text-align: center;
    
  }
  .header{
    .buttons{
      display: block;
      transition: all ease 0.5s;

    }
  }
  .buttons.active {
    z-index: 4;
    transition: all ease 0.5s;

    span{
      transform: rotate(50deg);
      background-color: #fff;
      position: relative;
      transition: all ease 0.5s;
      &::before{
        display: none;
      }
      &::after{
        bottom: 0;
        transform: rotate(82deg);
        background-color: #fff;
      transition: all ease 0.5s;

        
      }
    }
  }
  .header__bottom.color{
    .header__logo{
      position: relative;
      z-index: 5;
      transition: all ease 0.5s;
      .link{
        filter: invert(1);

      }
    }
    .header__icon{
      position: relative;
      z-index: 5;
      transition: all ease 0.5s;

      .header__corzinka{
        filter: invert(1);
      }
      .header__account{
        filter: invert(1);
      }
    }
  }
  .blog__banner {
  width: 100%;
  height: 235px;
  position: relative;
  }
  .footer{
    &__time,
    &__contact{
      flex-basis: 50%;
      text-align: left;
    }
    &__item{
      flex-basis: 100%;
      text-align: left;
      padding: 0px 10px;
    }
    &__menu{
      text-align: left;
      flex-basis: 50%;
      margin-top: 38px;
      padding: 0px 10px;
    }
  
    &__logo{
      order: 1;
      margin-top: 0;
    }
    &__aboutCompany{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: column;
    }
    &__aboutCompany__title{
      order: 2;
    }
    &__aboutCompany__description{
      order: 3;
    }
  }
  .blog{
    margin-top: 65px;
  }
  .myapplication {
    margin-top: 170px;
  }
  .header__container {
    justify-content: space-between;
    
  }
  .header__bottom {
    top: -100px;

  }
  .header__bottom.fixed{
    z-index: 7;
    display: block;
    position: fixed;
    width: 100%;
    height: 76px;
    top: 0;
    left: 0;
    
    transition: all ease 0.5s;
  }
  body.fixed{
    padding-top: 71px;
  }
  body.noscroll{
    overflow: hidden;
  }
  .map .map__img{
    position: relative;
    order: 2;
    width: 100%;
    height: 400px;
  }
  .map{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
  .map__item{
    margin-bottom: 38px;
  }
  .map .col-lg-5.col-exs-12{
    order: 1;
  }
  .footer{
    margin-top: 0;
  }
  .about__title{
    margin-top: 38px;
    margin-bottom: 0;
  }
  .about__text{
    margin-top: 28px;
  }
  .map__title{
    margin-bottom: 0;
  }
  .products{
    
    .col-lg-3{
      display: none;
    }
  }
  .header__top{
    display: none;
  }
  .header__icon{
    display: none;
  }
  .header__search{
    margin-right: 30px;
  }
  .header__logo{
    display: none;
  }
  .header__items{
    display: flex;
  }
  .header__logos{
    margin-left: 16px;
    display: block;
  }
  .header__search{
    display: block;
  }
  .Category,
  .newProdd,
  .newProd,
  .usefull{
    .splide__pagination__page{
      background-color: #000000;
      margin-left: 10px;
    }
    .splide__pagination {
      bottom: -2.5em;
    }
    .splide__pagination__page.is-active{
      background-color: #000000;
      &::before{
        content: '';
        display: block;
        border-radius: 50%;
        position: absolute;
        width: 12px;
        height: 12px;
        border: 1px solid #000000;
        top: -3px;
        right: -3px;
      }
    }
  }
  .newProd.splide{
    display: block;
    margin-bottom: 30px;
  }
  .newProdd.splide{
    display: block;
    margin-bottom: 30px;
  }
  .newProduct{
    .row{
      display: none;
    }
  }
  
  .category{
    .row{
      display: flex;
    }
  }
  .category{.dn{
    display: none;
  }}
  .Category.splide{
    display: block;
  }
  .foot{
    display: block;
  }
  .footer__items__title,
  .sartirovka,
  .filters{
    display: block;
  }
  .products.pro{
    margin-top: 12px;

  }
  .footer__adress{
    display: block;
  }
  .footer__aboutCompany{
    display: none;
  }
  .footer__menu,
  .footer__item{
    display: none;
  }
  .thumb{
    display: none;
  }
  .products__usefull__item{
    flex-direction: column;
  }
  .products__usefull__box{
    flex-basis: 100%;
    max-width: 100%;
  }
  .footer{
    margin-top: 65px;
  }
  .products{
    margin-top: 20px;
  }
  .cards__img{
    flex-basis: 25%;
    width: 85px;
  }
  
  .cards__p{
    display: none;
  }
  .cards__stars{
    margin-top: 15px;
  } 
  .cards__title{
    margin-top: 16px;
    font-size: 16px;
    line-height: 106%;
  }
  .cards__counter{
    right: 20px;
  }
  .cards .counter {
    width: 50px;
    height: 24px;
    top: 85%;
  }
  .cards .add, .cards .move{
    width: 24px;
    height: 24px;
  }
  .cards__item {
    padding-right: 25px;
  }
  .cards__box{
    justify-content: space-between;
  }
  .cards__btn{
    left: 24px;
    bottom: 18px;
    right: auto;
    top: auto;
    img{
      display: block;
    }
    span{
      display: none;
    }
  }
  .checkout .form,
  .checkout .col-lg-6{
    margin: 0;
  }
  .checkout__item{
    margin-top: 15px;
  }
  .checkout__title{
    margin-top: 30px;
  }
  .pt{
    display: none;
  }
  .pay__title{
    margin-top: 30px;
  }
  .col-lg-2{
    display: none;
  }
}