
@import 'var';
.myapplication{
  background-color: #0F0D2B;
  padding-top: 40px;
  padding-bottom: 56px;
  margin-top: 243px;
  position: relative;
  .container{
    @include df();
  }
  &__img{
    width: auto;
    max-width: 100%;
    position: relative;
    top: -175px;
    @include bg();
    margin-bottom: -175px;
  }
  &__item{
    margin-left: 80px;
    width: 60%;
  }
  &__title{
    font-size: 34px;
    line-height: 140%;
    color: #ffffff;
    font-family: 'mons-b';
    margin-bottom: 24px;
  }
  &__p{
    font-size: 16px;
    line-height: 140%;
    color: #ffffff;
    margin-bottom: 40px;
  }
  &__googlePlay{
    margin-left: 40px;
  }
}