@import 'card';

.newProduct{
  padding-top: 64px;
  text-align: center;
  &__title{
    font-size: 34px;
    line-height: 140%;
    color: #000;
    font-family: 'mons-b';
    margin-bottom: 32px;
  }
  .newProd{
    display: none;
  }
  .newProdd{
    display: none;
  }
  .splide.is-active .splide__list{
    width: inherit;
  }
  .splide__track.newProd__track,
  .splide.newProd.is-active{
    width: 100%;
  }
  .splide__track.newProdd__track,
  .splide.newProd.is-active{
    width: 100%;
  }
  
}
