@import 'var';


.registrations{
  display: none;
  
  .mcontainer{
    width:556px ;
    margin: auto;
  }
  &__item{
    display: flex;
    justify-content: space-between;
    
  }
  &__title{
    font-family: 'mons-b';
    font-size: 34px;
    line-height: 140%;
    color: #000;
    
  }
  &__login{
    color: #000;
    font-size: 20px;
    line-height: 47px;
    
  }
  &__form{
    position: relative;
    display: flex;
    flex-direction: column;
  }
  input{
    max-width: 100%;
    flex-basis: 100%;
    margin-top: 24px;
    padding: 14px 0;
    padding-left: 24px;
    font-size: 18px;
    line-height: 32px;
    color: #000;
    font-style: bold;
    border-radius: 6px;
    border: 1px solid #DBDEE7;
    
    &:focus{
      outline: none;
    }
  }
  &__btn{
    margin-top: 48px;
    width: 100%;
    padding: 13px 0;
    font-size: 20px;
    line-height: 34px;
    font-family: 'mons-b';
    background: #FFC000;
  }
  label{
    color: #000;
    margin-top: 24px;
    position: relative;
    margin-left: 35px;
    &::before{
      content: '';
      display: block;
      height: 24px;
      width: 24px;
      position: absolute;
      border: 1px solid #000000;
      left: -28px;
      top: -3px;
      border-radius: 10px;
      cursor: pointer;
    }
  }
  .checked{
    display: none;
  }
  input:checked+label{
    &::before{
      content: '';
      display: block;
      height: 24px;
      width: 24px;
      position: absolute;
      background-image: url(../img/Checkbox.png);
      left: -28px;
      top: -3px;
      cursor: pointer;
    }
   
  }
  .checked{
    display: none;
  }
  .span{
    display: none;
    display: block;
    width: 20px;
    height: 2px;
    background-color: #000000;
    position: relative;
    
    margin-bottom: 20px;
    transform: rotate(50deg);
    cursor: pointer;
    &::before{
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      position: absolute;
      background-color: #000000;
      transform: rotate(80deg);
    }
  }
}
.leave{
  border: none;
  float:right;
  width: 30px;
  height: 30px;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.registrations.signin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 6;
  background-color: rgba(0,0,0,0.6);
}
.registrations.signin .mcontainer{
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
}
.registrations.signin .registrations__item{
  margin-top: 20px;
}
