.sale{
  margin-top: 48px;
  height: 470px;
  background-color: #FDE72F;
  display: flex;
  align-items: center;
  justify-content: center;
  &__title{
    font-size: 34px;
    line-height: 140%;
    color: #0D0D0D;
    font-family: 'mons-b';
    letter-spacing: 0.25px;
    width: 666px;
    span{
      font-size: 60px;
    }
  }

}