.slider{
  
  &__img{
    height: 788px;
    z-index: -1;
    display: flex;
    text-align: left;
    // align-items: center;
    // justify-content: center;
  }
  &__title{
    font-size: 34px;
    line-height: 140%;
    color: #ffffff;
    font-family: 'mons-b';
    
  }
  &__p{
    font-size: 14px;
    line-height: 140%;
    color: #ffffff;
  }
  &__link{
    display: inline-block;
    margin-top: 24px;
    font-size: 14px;
    line-height: 140%;
    color: #FDE72F;
  }
  &__item{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 150px;
    z-index: 1;
     width: 588px;
  
  }
}