.usefull{
  &__track,
  &__list{
    width: inherit;
  }
  
  margin-top: 64px;
  &__title{
    text-align: center;
  }
 &__container{
    background-color: #fff;
  }
  &__item{
    padding-top: 40px;
    padding-bottom: 13px;
    
    text-align: center;
  }
  &__p{
    margin-top: 29px;
    
  }
  &__title{
    margin-bottom: 24px;
    font-size: 34px;
    line-height: 140%;
    font-family: 'mons-b';
  }
}
.splide.usefull{
  margin-bottom: 80px;
}
.splide.is-active .splide__list{
  width: inherit;
}
.splide__track.usefull__track,
.splide.usefull.is-active{
  width: 100%;
}