$container: 1140px;

@mixin df(){
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@mixin bg(){
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}