@import 'block/var';
@import 'splide.min.scss';
body,*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body.noscroll{
  overflow: hidden;
}

@font-face{
  font-family: 'mons-r';
  src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face{
  font-family: 'mons-b';
  src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face{
  font-family: 'mons-l';
  src: url(../fonts/Montserrat-Light.ttf);
}

body{
  font-family: 'mons-r';
  background: #E5E5E5;
}
.container{
  max-width: $container;
  margin: auto;
  align-items: center;
  width: 100%;
}
a{
  text-decoration: none;
  
}
ul{
  list-style-type: none;
}
button{
  border: none;
  cursor: pointer;
 
  &:focus{
    outline: none;
  }
}

$i:1;
@while $i<=12 {
  .col-lg-#{$i}{
    flex-basis: percentage($i/12);
    max-width: percentage($i/12);
    padding: 10px;
  }
  $i: $i+1;
}
.row{
  @include df();
  justify-content: start;
  margin-left: -10px;
  margin-right: -10px;
}
.df{
  display: flex;
}
.pay__title{
  font-size: 34px;
  line-height: 140%;
  text-align: center;
  color: #000;
  font-weight: bold;
  font-family: 'mons-b';
  margin-top: 64px;
}
.ml{
  margin-left: 100px;
  margin-top: 37px;
}
.checkout .ml .mt{
  margin-top: 0;
}
.pt{
  margin-top: 37px;
}
select:focus{
  outline: none;
}
.products__filters{
  display: flex;
  justify-content: space-around;
}
.sartirovka{
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  line-height: 140%;
  display: none;
}
.filters{
  position: relative;
  width: 100%;
  height: 40px;
  border: none;
  background-color: #fff;
  border-radius: 6px;
  padding-left: 5px;
  padding-right: 5px;
  align-items: center;
  font-size: 14px;
  line-height: 140%;
  display: none;
  img{
    position: absolute;
    right: 5px;
  }
}
.foot{
  display: none;
  width: 100%;
}
.cards__btn{
  img{
    display: none;
  }
}
@import 'block/header';
@import 'block/slider';
@import 'block/usefull';
@import 'block/card';
@import 'block/newproduct';
@import 'block/category';
@import 'block/myapplication';
@import 'block/blog';
@import 'block/sale';
@import 'block/footer';
@import 'block/aboutUs';
@import "block/map";

@import 'block/gallery';
@import 'block/registration';
@import 'block/filter';
@import 'block/cards';
@import 'block/checkout';
@import 'block/media';
